body {
      


}


#Topnav_1 {
			width: 97.2%;
			padding: 20PX 20PX;
			border: 5px;
            border-color:#D3D3D3;
			text-align: center;
			margin-top: 5px;
			font-family: Gabriola;
			font-size: 25px;
			background-color: #fb8181;
			}

#Topnav_1 a{
			color: white;
            margin:20px;
            padding:10px 10px;
            text-decoration: none;
            }

#Topnav_1 a:hover {
			background-color: #D3D3D3;
			}
			
#Topnav_1 ul li a{
			cursor: pointer;
			text-decoration: none;
			padding: 0.1em 1.0em;
			color: white;
			}

#Topnav_1 ul li a:hover{
			color: white;
			background-color: #000000;
			}




#Footer_1{ clear:both;
           padding: 0px 0;
           margin: 10px;  
           font-size: 20px; 
           font-weight: bold; 
           color:#fb8181;
           text-align: left;
          

}

#homecontainer {
    width: 92.3%;
    padding: 50px;
    background-color: #F5F5DC;
    margin: auto;
    text-align: center;
    border-color: #D3D3D3;
    font-family: Gabriola;
    font-size: 25px;
    color: #DB7093;

}
#pimages {
    clear: both;
    list-style-type: none;
    display: inline-table;
    padding: 30PX 30PX;
    text-align: center;
    margin: auto;
}

#productcontainer {
    width: 92.3%;
    padding: 50px;
    background-color: #F5F5DC;
    margin:auto;
    text-align:center;
    border-color: #D3D3D3;
    font-family: Gabriola;
    font-size: 25px;
    color: #DB7093;
}



#productimages {
    clear: both;
    list-style-type: none;
    display: inline-table;
    padding: 30PX 30PX;
    text-align:center;
    margin:auto;
    
}



#blazzercontainer {
    height: 530px;
    width: 92.3%;
    padding: 50px;
    background-color: #DB7093;
    border-color: #D3D3D3;
    text-align: center;
}

#header4 {
           font-family: Gabriola;
           font-size: 30px;
           color: #fb8181;
           text-align: center;
           padding: 5px;
           margin: 1px 1px;
}

#blazzerimg {
    clear: both;
    list-style-type: none;
    display: inline-table;
    float: left;
   
}

#bdetail {
    font-family: Gabriola;
    font-size: 23px;
    color: #DB7093;
    text-align: center;
}



#cardigancontainer {
    height: 650px;
    width: 92%;
    padding: 50px;
    background-color: #F5F5DC;
    margin-left: 3px;
    margin-right: 4px;
    border-color: #D3D3D3;
}

#header5 {
    font-family: Gabriola;
    font-size: 30px;
    color: #fb8181;
    text-align: center;
    padding: 5px;
    margin: 1px 1px;
}

#cardiganimg {
    clear: both;
    list-style-type: none;
    display: inline-table;
    float: left;
   
}

#cdetail {
    font-family: Gabriola;
    font-size: 23px;
    color: #DB7093;
    text-align: center;
}



#jollycontainer {
    height: 650px;
    width: 92%;
    padding: 50px;
    background-color: #F5F5DC;
    margin-left: 3px;
    margin-right: 4px;
    border-color: #D3D3D3;
}

#header6 {
    font-family: Gabriola;
    font-size: 30px;
    color: #fb8181;
    text-align: center;
    padding: 5px;
    margin: 1px 1px;
}

#jollyimg {
    clear: both;
    list-style-type: none;
    display: inline-table;
    float: left;
}

#jdetail {
    font-family: Gabriola;
    font-size: 23px;
    color: #DB7093;
    text-align: center;
}




#hoodiecontainer {
    height: 620px;
    width: 92%;
    padding: 50px;
    background-color: #F5F5DC;
    margin-left: 3px;
    margin-right: 4px;
    border-color: #D3D3D3;
}

#header7 {
    font-family: Gabriola;
    font-size: 30px;
    color: #fb8181;
    text-align: center;
    padding: 5px;
    margin: 1px 1px;
}

#hoodieimg {
    clear: both;
    list-style-type: none;
    display: inline-table;
    float: left;
}

#hdetail {
    font-family: Gabriola;
    font-size: 23px;
    color: #DB7093;
    text-align: center;
}


#blousecontainer {
    height: 620px;
    width: 92%;
    padding: 50px;
    background-color: #F5F5DC;
    margin-left: 3px;
    margin-right: 4px;
    border-color: #D3D3D3;
}

#header8 {
    font-family: Gabriola;
    font-size: 30px;
    color: #fb8181;
    text-align: center;
    padding: 5px;
    margin: 1px 1px;
}

#blouseimg {
    clear: both;
    list-style-type: none;
    display: inline-table;
    float: left;
}

#bldetail {
    font-family: Gabriola;
    font-size: 23px;
    color: #DB7093;
    text-align: center;
}


#skirtcontainer {
    height: 620px;
    width: 92%;
    padding: 50px;
    background-color: #F5F5DC;
    margin-left: 3px;
    margin-right: 4px;
    border-color: #D3D3D3;
}

#header9 {
    font-family: Gabriola;
    font-size: 30px;
    color: #fb8181;
    text-align: center;
    padding: 5px;
    margin: 1px 1px;
}

#skirtimg {
    clear: both;
    list-style-type: none;
    display: inline-table;
    float: left;
}

#sdetail {
    font-family: Gabriola;
    font-size: 23px;
    color: #DB7093;
    text-align: center;
}



#img {
background-attachment: fixed;   
background: 95%;
margin: auto;
}


#contactcontainer   {
            height:1070px;
			width:92%;
			padding: 50px;
			background-color: #F5F5DC;
            margin-left: 3px;
            margin-right: 4px;
           border-color: #D3D3D3;
    
}

#header1  {
            font-family: Gabriola;
			font-size:20px;
			color: #fb8181;
			text-align: center;
			padding: 5px;
            margin: 1px 1px;
			}



#fullname {
            font-family: Gabriola;
            font-size: 20px;
            color: #DB7093;
            text-align: justify;
            margin-top:0px;
            margin-bottom:0px;
}

#telephone {
    font-family: Gabriola;
    font-size: 20px;
    color: #DB7093;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
}


#email   {
            font-family: Gabriola;
            font-size: 20px;
            color: #DB7093;
            text-align: justify;


}


#mobileno   {
            font-family: Gabriola;
            font-size: 20px;
            color: #DB7093;
            text-align: justify;



}




#subject {
            font-family: Gabriola;
            font-size: 20px;
            color: #DB7093;
            text-align: justify;
            height: 108px;
         }


#message   {
            font-family: Gabriola;
            font-size: 20px;
            color: #DB7093;
            text-align: justify;
            height: 108px;
}


#Submit   {
            font-family: Gabriola;
            font-size: 20px;
            color: #DB7093;
            text-align: right;
          
}

#gcmap {
    width: 100%;
    height: 400px;
    background-color: #DB7093;
}

#header2   {
            font-family: Gabriola;
			font-size:30px;
			color: #fb8181;
			text-align: justify;
			padding: 5px;
            margin: 1px 1px;
			}

#aboutcontainer {
    height:530px;
			width:93.4%;
			padding: 50px;
			background-color: #F5F5DC;
           border-color: #D3D3D3;
           text-align: center;
}


#aboutimage {
    margin-left: 4px;
    margin-right: 20px;
}

#aboutcontent   {
            font-family: Gabriola;
			font-size: 23px;
			color: #DB7093;


}




#header3 {
    font-family: Gabriola;
    font-size: 30px;
    color: #fb8181;
    text-align: justify;
    padding: 5px;
    margin: 1px 1px;
}


#logincontainer {
    height: 520px;
    width: 92%;
    padding: 50px;
    background-color: #F5F5DC;
    margin-left: 3px;
    margin-right: 4px;
    border-color: #D3D3D3;
}


#header10 {
    font-family: Gabriola;
    font-size: 20px;
    color: #fb8181;
    text-align: center;
    padding: 5px;
    margin: 1px 1px;
}

#loginID {
    font-family: Gabriola;
    font-size: 20px;
    color: #DB7093;
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 0px;
}

#password {
    font-family: Gabriola;
    font-size: 20px;
    color: #DB7093;
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 0px;
}

#Login     {
    text-align: right;
}

#register     {
    text-align: center;
    font-family: Gabriola;
    font-size: 20px;
    color: #fb8181;
}

#registercontainer {
    height: 550px;
    width: 92%;
    padding: 50px;
    background-color: #F5F5DC;
    margin-left: 3px;
    margin-right: 4px;
    border-color: #D3D3D3;
}

#header11 {
    font-family: Gabriola;
    font-size: 20px;
    color: #fb8181;
    text-align: center;
    padding: 5px;
    margin: 1px 1px;
}

#signemail {
    font-family: Gabriola;
    font-size: 20px;
    color: #DB7093;
    text-align: justify;
}

#username {
    font-family: Gabriola;
    font-size: 20px;
    color: #DB7093;
    text-align: justify;
}

#signupmobile {
    font-family: Gabriola;
    font-size: 20px;
    color: #DB7093;
    text-align: justify;
}

#rpassword {
    font-family: Gabriola;
    font-size: 20px;
    color: #DB7093;
    text-align: justify;
}

Signupregister      {
    text-align: right;
}

#privatecontainer {
    height: 300px;
    width: 92%;
    padding: 50px;
    background-color: #F5F5DC;
    margin-left: 3px;
    margin-right: 4px;
    border-color: #D3D3D3;
}

#privatecontent {
    font-family: Gabriola;
    font-size: 23px;
    color: #DB7093;
}

#logout     {
    text-align: right;
}
